In [ ]:
import multiprocessing
import time

def func(msg):
    print(multiprocessing.current_process().name + '-' + msg)

if __name__ == "__main__":
    pool = multiprocessing.Pool(processes=4) # 创建4个进程
    for i in range(10):
        msg = "hello %d" %(i)
        pool.apply_async(func, (msg, ))
    pool.close() # 关闭进程池，表示不能在往进程池中添加进程
    pool.join() # 等待进程池中的所有进程执行完毕，必须在close()之后调用
    print("Sub-process(es) done.")

In [1]:
# python time 的使用
## mktime
import time

t = (2009, 2, 17, 17, 3, 38, 1, 48, 0)
secs = time.mktime( t )
print("time.mktime(t) : %f" %  secs)
print("asctime(localtime(secs)): %s" % time.asctime(time.localtime(secs))) 

##

time.mktime(t) : 1234861418.000000
asctime(localtime(secs)): Tue Feb 17 17:03:38 2009

# 探索所需信息

## 中南平台的json文件格式查看

In [1]:
import pandas as pd
Topic_evolution = pd.read_csv('Topic-evolution_cn.html.csv')

In [4]:
Topic_evolution.tail()

      Entity Code        Year  Unnamed: 3
9035  钢铝关税回应   钢铝  1539532800       2.207
9036  钢铝关税回应   钢铝  1539619200       2.264
9037  钢铝关税回应   钢铝  1539705600       2.166
9038  钢铝关税回应   钢铝  1539792000       1.994
9039  钢铝关税回应   钢铝  1539878400       2.205

### 所需信息
- 基于某一个具体的大主题新闻背景下的主题演化情况
- 需要子主题，这个可以在进行主题分布的时候进行人工标注
- 这些主题就是各个可视化展示的主体----主题演化的概念实体
- 这些主题演化的概念实体是基于时间序列的，因此它需要时间戳
- 主题演化的主体--新闻主题平均百分比的滑动平均模型（基于时间序列）

### Hacker news csv 的实体
- story_id,story_time,story_url,story_text,story_author,comment_id,comment_text,comment_author,comment_ranking,author_comment_count,story_comment_count
- id, 新闻事件戳， 新闻url， 新闻正文， 新闻作者， 评论id 评论文本 评论作者，评论排名，

In [ ]:
lambda x:(x,w,q,n,s
j,w,q,n,s=u
f = time.mktime(time.strptime(s+" 00:00:00", "%Y-%m-%d %H:%M:%S"))

a = time.strftime("%Y-%m-%d", time.localtime(f + 86400 * j * random.randint(q, q+2)))

In [9]:
import time
int(time.mktime(time.strptime("2013-01-23 00:00:00", "%Y-%m-%d %H:%M:%S")))/86400

15727.666666666666

### Hacker_news_raw_Data

In [2]:
import pandas as pd
HN = pd.read_csv('hacker_news_comments.csv')

In [3]:
HN.head()

,story_id,story_time,story_url,story_text,story_author,comment_id,comment_text,comment_author,comment_ranking,author_comment_count,story_comment_count
0,3985069,1337221782,http://androidcommunity.com/verizon-killing-of...,NaN,joedev,3985756,"Makes sense for Verizon, and if they are being...",Quizzy,10,11,13
1,2481190,1303738766,http://www.bbc.co.uk/news/magazine-13140772,NaN,soitgoes,2481521,"""Made to play"" is a contradiction.",petervandijck,9,1125,16
2,6302825,1377881848,https://gingkoapp.com/p/future-of-text,NaN,adriano_f,6303075,I like this a lot!<p>The research manuscript e...,heurist,5,31,42
3,6268480,1377347411,http://lists.w3.org/Archives/Public/www-archiv...,NaN,bpierre,6270567,Fetching stuff over HTTP can be incredibly stu...,MBCook,5,84,11
4,5487883,1365012711,https://medium.com/i-m-h-o/ef4772e3c628,NaN,jpadilla_,5487972,"Conversely, start working( harder ).",TheSOB88,43,171,44

In [4]:
HN.tail()

,story_id,story_time,story_url,story_text,story_author,comment_id,comment_text,comment_author,comment_ranking,author_comment_count,story_comment_count
1165434,1013531,1261638606,NaN,"For the year 2010, I plan to:\n1. Learn Clojur...",aitoehigie,1013543,I plan to end 2010 with 10x as many customers ...,cperciva,2,1346,51
1165435,1013531,1261638606,NaN,"For the year 2010, I plan to:\n1. Learn Clojur...",aitoehigie,1013710,Being very close to graduate in the end of the...,zppx,39,74,51
1165436,4312761,1343662100,http://code.google.com/p/chromium/issues/detai...,NaN,eranation,4313810,Not surprising. The amount of <i>aggressive</i...,jperras,1,46,11
1165437,9804349,1435663051,http://blogs.aws.amazon.com/security/post/TxCK...,NaN,ukj,9804795,If I counted right:<p><pre><code> OCaml TLS: ...,edwintorok,0,93,17
1165438,6765099,1384901786,http://www.theatlantic.com/technology/archive/...,NaN,sinak,6767538,We are educated to speak well our language (en...,ithkuil,10,91,41

In [5]:
features = HN

In [6]:
# Convert all integer arrays to int32
for col, dtype in zip(features.columns, features.dtypes):
    if dtype is np.dtype('int64'):
        features[col] = features[col].astype('int32')

In [7]:

max_length = 250   # Limit of 250 words per comment
min_author_comments = 50  # Exclude authors with fewer comments
nrows = None  # Number of rows of file to read; None reads in full file

In [8]:
# Extract numpy arrays over the fields we want covered by topics
# Convert to categorical variables
author_counts = features['comment_author'].value_counts()
to_remove = author_counts[author_counts < min_author_comments].index
mask = features['comment_author'].isin(to_remove).values
author_name = features['comment_author'].values.copy()
author_name[mask] = 'infrequent_author'
features['comment_author'] = author_name
authors = pd.Categorical(features['comment_author'])
author_id = authors.codes
author_name = authors.categories
story_id = pd.Categorical(features['story_id']).codes
# Chop timestamps into days
story_time = pd.to_datetime(features['story_time'], unit='s')
days_since = (story_time - story_time.min()) / pd.Timedelta('1 day')
time_id = days_since.astype('int32')
days_since = (story_time - story_time.min()) / pd.Timedelta('1 day')
features['story_id_codes'] = story_id 
features['author_id_codes'] = story_id
features['time_id_codes'] = time_id
features['days_since'] = days_since
features['story_dt'] = story_time

In [9]:
features.tail()

,story_id,story_time,story_url,story_text,story_author,comment_id,comment_text,comment_author,comment_ranking,author_comment_count,story_comment_count,story_id_codes,author_id_codes,time_id_codes,days_since,story_dt
1165434,1013531,1261638606,NaN,"For the year 2010, I plan to:\n1. Learn Clojur...",aitoehigie,1013543,I plan to end 2010 with 10x as many customers ...,cperciva,2,1346,51,5787,5787,1037,1037.401030,2009-12-24 07:10:06
1165435,1013531,1261638606,NaN,"For the year 2010, I plan to:\n1. Learn Clojur...",aitoehigie,1013710,Being very close to graduate in the end of the...,infrequent_author,39,74,51,5787,5787,1037,1037.401030,2009-12-24 07:10:06
1165436,4312761,1343662100,http://code.google.com/p/chromium/issues/detai...,NaN,eranation,4313810,Not surprising. The amount of <i>aggressive</i...,infrequent_author,1,46,11,27058,27058,1986,1986.747025,2012-07-30 15:28:20
1165437,9804349,1435663051,http://blogs.aws.amazon.com/security/post/TxCK...,NaN,ukj,9804795,If I counted right:<p><pre><code> OCaml TLS: ...,edwintorok,0,93,17,62571,62571,3051,3051.572847,2015-06-30 11:17:31
1165438,6765099,1384901786,http://www.theatlantic.com/technology/archive/...,NaN,sinak,6767538,We are educated to speak well our language (en...,infrequent_author,10,91,41,43699,43699,2464,2464.058206,2013-11-19 22:56:26

In [10]:
top_urls = features['story_url'].value_counts().index
mask = features['story_url'] == top_urls[1]
story_id_code = features[mask].story_id_codes.values[0]
story_id_url = features[mask].story_url.values[0]

In [11]:

story_id_url

'http://googleblog.blogspot.com/2013/03/a-second-spring-of-cleaning.html'

In [12]:
cols = [u'story_comment_count', 'story_time', 'story_url', 'story_text', 'days_since', 'story_dt']
stories = features.groupby('story_id_codes')[cols].min().reset_index()

In [13]:
stories = stories.rename(columns={'story_dt': 'Article Date'})

In [14]:
type(stories)

pandas.core.frame.DataFrame

In [16]:
stories.tail()

,story_id_codes,story_comment_count,story_time,story_url,story_text,days_since,Article Date
65714,65714,23,1444681531,https://labs.foxtype.com,NaN,3155.953403,2015-10-12 20:25:31
65715,65715,12,1444689726,http://usbip.sourceforge.net/,NaN,3156.048252,2015-10-12 22:42:06
65716,65716,27,1444698305,http://leahweitz.com/things-men-have-actually-...,NaN,3156.147546,2015-10-13 01:05:05
65717,65717,11,1444699504,http://www.theatlantic.com/international/archi...,NaN,3156.161424,2015-10-13 01:25:04
65718,65718,12,1444701037,http://www.lexika.io,NaN,3156.179167,2015-10-13 01:50:37

In [ ]:
stories.merge()
pd.pivot_table()

In [17]:
mass = lambda x: ((x) * 1.0).sum() / x.shape[0]

In [19]:
a = pd.rolling_mean()
# [cankao ]（http://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.18.0.html#window-functions-are-now-methods）
# https://stackoverflow.com/questions/50482884/module-pandas-has-no-attribute-rolling-mean

AttributeError: module 'pandas' has no attribute 'rolling_mean'

In [ ]:
#